<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzc.mapper.UserMapper">

    <cache type="com.lzc.cache.RedisCache"/>
    <select id="fingAll" resultType="com.lzc.entity.User">
        select * from m_user
    </select>

</mapper>
